@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css';

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

code {
  line-height: 1.4;
  font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
  font-weight: 500;
}

.hljs {
  background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}