body {
  font-size: rem(17);
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: $font-bold;
}

h2 {
  font-size: rem(36);
}

h3 {
  font-size: rem(24);
}

p, li {
  line-height: 1.5;
}

a {
  font-weight: $font-medium;

  &.is-inverse,
  &.is-inverse:hover {
    color: $white;
  }
}

section {
  padding: rem(40 20);
}