body {
  font-size: rem(17);
}

h2 {
  font-size: rem(24);
}

h3 {
  font-size: rem(20);
}

p, li {
  line-height: 1.5;
}

a {
  font-weight: $font-medium;

  &.is-inverse,
  &.is-inverse:hover {
    color: $white;
  }
}