.divider {
  height: rem(36);
  width: rem(300);
  background: no-repeat center center/40px url('../images/star.svg');
  position: relative;
  margin: rem(8 0);

  &:before,
  &:after {
    content: '';
    display: block;
    height: rem(4);
    background: $white;
    width: rem(120);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: rem(4);
  }

  &:after {
    right: 0;
  }
}