.code-sample {

  pre {
    margin-bottom: rem(16);
  }

  code {
    line-height: 1.4;
    font-family: 'Source Code Pro', monospace, 'Courier New', Courier;
    font-weight: 500;
  }
  
  .hljs {
    background: #f8f8f8;
  }

  h2:first-of-type {
    text-align: center;
    font-size: rem(32);
    border-bottom: 1px solid #ddd;
    padding-bottom: rem(8);
    margin-bottom: rem(32);
  }
  
  h2 {
    font-size: rem(24);
  }
  
  h3 {
    font-size: rem(20);
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: rem(16);
    font-weight: $font-semibold;
  }
}