.c-footer {
  background: $black;
  padding: rem(20);

  &__content {
    width: 100%;
    max-width: rem($site-width);
    margin: 0 auto;
    color: $white;
    font-size: rem(14);
    text-align: center;
  }

  @media(min-width: $breakpoint-medium) {
    &__content {
      width: 90%;
      display: flex;
      justify-content: space-between;
      text-align: left;

      & > :last-child {
        text-align: right;
      }
    }
  }
}