.c-hero {
  background: #1abc9c;
  padding: rem(40 20);
  position: relative;

  &__content {
    text-align: center;
    max-width: rem(960);
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  &__heading {
    color: $white;
    font-size: rem(40);
    line-height: 1.2;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  &__subheading {
    font-size: rem(25);
    line-height: 1.3;
    color: $white;
  }

  &__text-content {
    font-size: rem(18);
    margin-top: rem(16);
    color: $white;
  }

  &--condensed {
    padding: rem(20);

    .c-hero__profile-image {
      width: rem(80);
      height: rem(80);
    }

    .c-hero__heading {
      font-size: rem(20);
    }
  }

  @media(min-width: $breakpoint-medium) {
    &:not(&--condensed) {
      padding: rem(120 20);
    }
    
    &__heading {
      font-size: rem(60);
    }
  
    &__subheading {
      font-size: rem(30);
    }

    &__text-content {
      font-size: rem(20);
    }
  }
}
