.c-main-nav {
  display: flex;

  & > * > a {
    color: $white;
    text-decoration: none;
    font-weight: $font-semibold;
    display: block;
    line-height: rem(60);
    padding: rem(0 10);

    &.is-active,
    &:hover {
      color: $aqua-100;
    }
  }

  & > * {
    display: none;
  }

  & > :last-of-type {
    display: block;

    svg {
      fill: $white;
      position: relative;
      top: rem(6);
    }

    &:hover svg {
      fill: $aqua-100;
    }
  }  

  @media(min-width: $breakpoint-medium) {
    & > * {
      display: block;
    }

    & > :last-of-type {
      display: none;
    }
  }
}