.section {
  background: $white;

  &__content {
    max-width: rem($site-width);
    margin: rem(0 auto);
  }

  &--aqua {
    background: $aqua-200;
  }

  @media(min-width: $breakpoint-medium) {
    &__content {
      width: 90%;
    }
  }
}