.social-media-list {
  color: $white;
  display: flex;
  justify-content: center;
  margin: rem(20 0);
  
  &__item {
    text-align: center;
    padding: rem(0 16);
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-medium) {
    margin: rem(0);
  }
}